.device-container {
  height: var(--device-container-height);
  width: var(--container-width);
  margin-right: calc(var(--container-width) / 5);
  position: relative;
  display: grid;
  place-items: center;
  user-select: none;
}
.device-container[data-orientation="portrait"] {
  --container-width: calc(var(--device-container-height) * var(--aspect-ratio));
}
.device-container[data-orientation="landscape"] {
  --container-width: var(--device-container-height);
}

.device-container > .device {
  content: '';

  width:  var(--phone-width);
  height: var(--phone-height);

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: calc(var(--phone-width) / 6);

  --shadow-color: rgba(0, 0, 0, .6);
  box-shadow: 0 0 calc(var(--phone-width) / 35) var(--shadow-color);
  background: var(--shadow-color);

  position: relative;
}
.device-container[data-orientation="portrait"] > .device {
  --phone-width: var(--container-width);
  --phone-height: var(--device-container-height);
}
.device-container[data-orientation="landscape"] > .device {
  --phone-width: var(--container-width);
  --phone-height: calc(var(--container-width) * var(--aspect-ratio));
}

/* Device image */
.device-container > .device::after {
  content: '';
  width:  var(--device-container-height);
  height: var(--device-container-height);
  background: no-repeat center / contain var(--device-image);
  pointer-events: none;
}
.device-container[data-orientation="portrait"]  > .device::after { transform: rotate(0); }
.device-container[data-orientation="landscape"] > .device::after { transform: rotate(90deg); }

.device-container .screen-content {
  position: absolute;
  overflow: hidden;
  background: black;
}
.device-container[data-orientation="portrait"] .screen-content {
  top:    var(--top);
  left:   var(--left);
  right:  var(--right);
  bottom: var(--bottom);
}
.device-container[data-orientation="landscape"] .screen-content {
  top:    var(--left);
  left:   var(--bottom);
  right:  var(--top);
  bottom: var(--right);
}

.device-container iframe {
  transform-origin: top left;
}
.device-container[data-orientation="portrait"] iframe {
  width: var(--screen-resolution-x);
  height: var(--screen-resolution-y);
}
.device-container[data-orientation="landscape"] iframe {
  width: var(--screen-resolution-y);
  height: var(--screen-resolution-x);
}

.device-container .controls {
  position: absolute;
  top: 100%;
  height: 37px;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.device-container .controls button {
  width:  30px;
  height: 30px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
}

.device-container .controls .rotate-button {
  margin-right: 15px;
  background-size: 80%;
  background-image: url('data:image/svg+xml,\
    <svg viewBox="0 0 64 64" xmlns="http://www.w3.org/2000/svg">\
      <defs>\
        <marker id="arrow-head" overflow="visible" orient="auto">\
          <path d="M1.2 0L-.6 1v-2l1.8 1z" fill="%23002b36" stroke="%23002b36" stroke-width=".2"/>\
        </marker>\
      </defs>\
      <g fill="none" stroke="%23002b36" stroke-linecap="round" stroke-width="7.6">\
        <path marker-end="url(%23arrow-head)" d="M10.4 39.5a22.9 22.9 0 016.4-24.8 22.9 22.9 0 0125.4-3.3"/>\
        <path marker-end="url(%23arrow-head)" d="M54 25.3a22.9 22.9 0 01-7.1 24A22.9 22.9 0 0122 52.5"/>\
      </g>\
    </svg>\
  ');
}

.device-container .controls .remove-button {
  background-size: 55%;
  background-image: url('data:image/svg+xml,\
    <svg viewBox="0 0 1 1" xmlns="http://www.w3.org/2000/svg">\
      <path stroke="%23002b36" stroke-width="0.2"\
        stroke-linecap="round" stroke-linejoin="round"\
        d="M0.1,0.1 L0.9,0.9 M0.1,0.9 L0.9,0.1"\
      />\
    </svg>\
  ');
}
