@import url('/apps/tunnel-vision/base.css');
@import url('/common/push-button.css');

:host(.panel-a) {
  background: black;
}

#grid {
  position: absolute;
  left:   0;
  top:    0;
  right:  0;
  bottom: 0;

  display: grid;
  align-content:   center;
  justify-content: center;
}

#grid .cell {
  position: relative;
}

#grid .cell {
  opacity: 1;
  transition: 1s opacity;
  position: relative;
}
#grid .cell.present {
  /* Make the canvas inside the cell fill the whole grid, by making the canvas absolute-positioned coordinates no longer relative to the cell, and therefore to the parent grid instead.*/
  position: static;
}
#grid.fade-out .cell:not(.present) {
  opacity: 0;
}

#grid .cell canvas {
  /* Fill the whole area of the cell (if the cell has position: relative), otherwise the whole grid (when the photo is presented) */
  position: absolute;
  left: 0;
  top:  0;
  width:  100%;
  height: 100%;

  object-fit: contain;
  cursor: pointer;
}
#grid .cell.present canvas {
  z-index: 1;
}

:host(.panel-b) {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
:host(.panel-b) > * {
  opacity: 0;
  transition: .5s opacity;
}
:host(.panel-b.reveal) > * {
  opacity: 1;
}

#target {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:     center;

  color: var(--mauve);
  -webkit-text-stroke: transparent;
  text-shadow: none;
  font-size: 3rem;
}
p {
  margin-top:    .5rem;
  margin-bottom: .5rem;
}
#target span {
  display: flex;
  align-items: center;
}
#target img {
  width:  4rem;
  height: 4rem;
}
#target label {
/*   font-size: 3rem; */
}

#judgement {
/*   position: absolute; */
/*   width:  100%; */
/*   height: 100%; */

  display: flex;
  justify-content: center;
  align-items:     center;
}
#judgement push-button {
  border-radius: 1rem;
  margin: 1rem;
  padding: .5rem;

  font-size: 5rem;
  -webkit-text-stroke: transparent;
  text-shadow: none;
}
