@import url('/common/base.css');
@import url('/apps/tunnel-vision/base.css');
@import url('/common/push-button.css');

:host {
  position: fixed;
  left:   0;
  top:    0;
  bottom: 0;
  right:  0;

  background: black;
  --camera-button-thickness: 8rem;

  display: flex;
  align-items: stretch;
}
@media (orientation: portrait) {
  :host {
    flex-direction: column;
  }
}
@media (orientation: landscape) {
  :host {
    flex-direction: row;
  }
}

video {
  position: absolute;
  width:  100%;
  height: 100%;
  object-fit: contain;
}
video.flip {
  transform: scaleX(-1);
}

#crop-guide {
  position: absolute;
  width:  100%;
  height: 100%;
  object-fit: contain;
}

canvas {
  flex-basis: 50%;
  flex-grow: 1;
  object-fit: contain;
  transform: scale(1);
  transition: 1s transform;
}

#judgement {
  background: var(--sand-light);
  color: var(--mauve);
  font-size: 4rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 0;

  flex-basis: 0;
  overflow: hidden;
  transition: 1s flex-basis, 1s padding;
}
#judgement > * {
  opacity: 0;
  transition: 1s opacity;
  transition-delay: 1s;
}
#judgement.reveal {
  flex-basis: 50%;
  padding: 1rem;
}
#judgement.reveal > * {
  opacity: 1;
}
#judgement p {
  margin: 0;
}
#judgement .options push-button {
  display: inline-flex;
  width: 8rem;
  height: 5rem;
  border-radius: 2rem;
  font-weight: bold;
  border: 1rem solid var(--sand-light);
}
#judgement .options push-button.selected {
  border: 1rem solid yellow;
}
#judgement .options push-button[data-action="retake"] {
  font-size: 3rem;
  color: #555;
  padding-left: 2.7rem;
  background-image: url('data:image/svg+xml,\
    <svg viewBox="0 0 1 1" xmlns="http://www.w3.org/2000/svg">\
      <path fill="%23555" d="M.962.79a.02.02 0 01-.02-.012C.94.772.882.639.66.613A1.52 1.52 0 00.49.603V.77a.02.02 0 01-.01.018.02.02 0 01-.022-.001L.032.5a.02.02 0 010-.035L.458.178a.02.02 0 01.021 0A.02.02 0 01.49.194V.35c.093.012.492.084.492.42a.02.02 0 01-.016.02H.962z"/>\
    </svg>\
  ');
  background-position: .5rem;
  background-size: 3rem;
  -webkit-text-stroke: transparent;
  text-shadow: none;
}

#goal {
  position: absolute;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items:     center;
  justify-content: center;
}
#goal.transition {
  transition: .5s opacity;
}
#goal:not(.reveal) {
  opacity: 0;
}
#goal.reveal {
  opacity: 1;
}
@media (orientation: portrait) {
  #goal {
    top:   0;
    left:  0;
    right: 0;
  }
}
@media (orientation: landscape) {
  #goal {
    left:   0;
    top:    0;
    bottom: 0;
  }
}
#goal img {
  width:  6rem;
  height: 6rem;
  margin: .5rem;
}
#goal .label {
  font-size: 5rem;
  font-weight: bold;
}

#take-photo-button {
  position: absolute;
  background-image: url('data:image/svg+xml,\
    <svg viewBox="0 0 17 17" xmlns="http://www.w3.org/2000/svg">\
      <path d="M5.9.3c-1.3 0-2.3 1-2.3 2.2H2.3C1 2.6 0 3.6 0 4.9v8.7c0 1.3 1 2.3 2.3 2.3h12.4c1.2 0 2.2-1 2.2-2.3V4.8c0-1.2-1-2.2-2.2-2.2H13c0-1.3-1-2.3-2.2-2.3zM13.4 4h1.2a.7.7 0 1 1 0 1.5h-1.2a.7.7 0 1 1 0-1.5zM8.2 5.6a3.6 3.6 0 0 1 3.6 3.6 3.6 3.6 0 0 1-3.6 3.5 3.6 3.6 0 0 1-3.5-3.5 3.6 3.6 0 0 1 3.5-3.6z"/>\
    </svg>\
  ');
  background-size: 50%;
  border-radius: 2rem;
  padding: 0;
}

#switch-cameras-button {
  position: absolute;
  width:  5rem;
  height: 5rem;
  border-radius: 50%;
  background-image: url('data:image/svg+xml,\
    <svg viewBox="-35 0 137 128" xmlns="http://www.w3.org/2000/svg">\
      <path d="M56 87v-2c9.9-3.5 25.8-11.2 25.8-23.4 0-4.9-15.1-7.8-33.6-7.8v13L24.9 43.5l23.3-20.7v13s44-.7 44 23.2c0 19.9-21.8 26.4-36.3 28zM9.3 40.7c-10 3.6-26 11.3-26 23.5 0 4.9 15.2 7.8 33.7 7.8V59l23.3 23.3L17.1 103V90s-44 .7-44-23.2c0-19.9 21.8-26.4 36.3-28z"/>\
    </svg>\
  ');
}

@media (orientation: portrait) {
  #take-photo-button {
    bottom: 2rem;
    width: var(--camera-button-thickness);
    height: 7rem;
    left: calc(50vw - (var(--camera-button-thickness) / 2));
  }
  #switch-cameras-button {
    left: calc(50% + (var(--camera-button-thickness) / 2) + 1rem);
    bottom: 3rem;
  }
}
@media (orientation: landscape) {
  #take-photo-button {
    right: 1rem;
    width: 6rem;
    height: var(--camera-button-thickness);
    top: calc(50vh - (var(--camera-button-thickness) / 2));
  }
  #switch-cameras-button {
    right: 2rem;
    top: calc(50% + (var(--camera-button-thickness) / 2) + 1rem);
  }
}

:host(.photo-taken) video {
  display: none;
}
:host(.photo-taken) #crop-guide {
  display: none;
}
:host(.photo-taken) #take-photo-button {
  display: none;
}
:host(:not(.photo-taken)) #judgement {
  display: none;
}
:host(.photo-taken) #switch-cameras-button {
  display: none;
}

:host(.photo-taken) canvas {
  animation: 0.4s camera-flash forwards;
}
@keyframes camera-flash {
  from { filter: brightness(4); }
  to   { filter: brightness(1); }
}
