#games-index {
  height: 100%;
  overflow-y: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, var(--tile-size));
  grid-template-rows: repeat(auto-fit, var(--tile-size));
  grid-gap: 3rem;
  padding: 3rem;
  box-sizing: border-box;
  justify-content: center;
  --tile-size: 15rem;
  font-size: calc(var(--tile-size) / 20);
}

#games-index > a {
  width:  var(--tile-size);
  height: var(--tile-size);
  background: white;
  text-decoration: none;
}

#games-index > a:hover {
  transform: scale(1.1);
}
