.all-the-things_confirmation {
  font-size: 9vmin;
  text-align: center;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.all-the-things_yes-button {
  position: absolute;
  left:    5vmin;
  top:     5vmin;
  width: calc(100% - 10vmin);
  height: calc(100% - 10vmin);
  font-size: 31vmin;
  font-family: NotoColorEmoji_subset;
}
.all-the-things_yes-button.selected {
  outline: 3vmin solid yellow;
}
