.tunnel-vision.photo-screen {
  position: fixed;
  left:   0;
  top:    0;
  bottom: 0;
  right:  0;
  background: white;
}
.tunnel-vision.photo-screen video {
  position: absolute;
  width:  100%;
  height: 100%;
  object-fit: cover;
}
.tunnel-vision.photo-screen video.flip {
  transform: scaleX(-1);
}
.tunnel-vision.photo-screen canvas {
  position: absolute;
  width:  100%;
  height: 100%;
  object-fit: cover;
}
.tunnel-vision.photo-screen .crop-guide {
  position: absolute;
  left:   0;
  top:    0;
  right:  0;
  bottom: 0;
  border-style: solid;
  border-color: rgba(100, 100, 100, 0.8);
  pointer-events: none;
}
.tunnel-vision.photo-screen .goal {
  position: absolute;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.tunnel-vision.photo-screen .goal img {
  width:  20vmin;
  height: 20vmin;
}
.tunnel-vision.photo-screen .goal .label {
  font-size: 12vmin;
}
.tunnel-vision.photo-screen .take-photo-button {
  position: absolute;
  bottom: 7vh;
  width:  30vmin;
  height: 20vmin;
  left: calc(50vw - (30vmin / 2));
  background-image: url('data:image/svg+xml,\
    <svg viewBox="0 0 17 17" xmlns="http://www.w3.org/2000/svg">\
      <path d="M5.9.3c-1.3 0-2.3 1-2.3 2.2H2.3C1 2.6 0 3.6 0 4.9v8.7c0 1.3 1 2.3 2.3 2.3h12.4c1.2 0 2.2-1 2.2-2.3V4.8c0-1.2-1-2.2-2.2-2.2H13c0-1.3-1-2.3-2.2-2.3zM13.4 4h1.2a.7.7 0 1 1 0 1.5h-1.2a.7.7 0 1 1 0-1.5zM8.2 5.6a3.6 3.6 0 0 1 3.6 3.6 3.6 3.6 0 0 1-3.6 3.5 3.6 3.6 0 0 1-3.5-3.5 3.6 3.6 0 0 1 3.5-3.6z"/>\
    </svg>\
  ');
  background-size: 50%;
  border-radius: 4vmin;
  padding: 0;
}
.tunnel-vision.photo-screen.photo-taken video {
  display: none;
}
.tunnel-vision.photo-screen.photo-taken:after {
  content: '';
  display: block;
  position: absolute;
  left:   0;
  top:    0;
  right:  0;
  bottom: 0;
  background: #fff;
  animation: 0.5s camera-flash forwards;
}
@keyframes camera-flash {
  from { opacity: 1; }
  to   { opacity: 0; }
}

.tunnel-vision.photo-screen .switch-cameras-button {
  position: absolute;
  right:  2vmin;
  bottom: 2vmin;
  width:  20vmin;
  height: 20vmin;
  border-radius: 50%;
  background-image: url('data:image/svg+xml,\
    <svg viewBox="-35 0 137 128" xmlns="http://www.w3.org/2000/svg">\
      <path d="M56 87v-2c9.9-3.5 25.8-11.2 25.8-23.4 0-4.9-15.1-7.8-33.6-7.8v13L24.9 43.5l23.3-20.7v13s44-.7 44 23.2c0 19.9-21.8 26.4-36.3 28zM9.3 40.7c-10 3.6-26 11.3-26 23.5 0 4.9 15.2 7.8 33.7 7.8V59l23.3 23.3L17.1 103V90s-44 .7-44-23.2c0-19.9 21.8-26.4 36.3-28z"/>\
    </svg>\
  ');
}
