.tunnel-vision.photo-judgement-panel-B {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.tunnel-vision.photo-judgement-panel-B h1 {
  text-align: center;
  font-size: 3.5rem;
  margin: 0;
  color: white;
  text-shadow: black 0.1rem 0.1rem .8rem;
}

.tunnel-vision.photo-judgement-panel-B img {
  width:  7rem;
  height: 7rem;
  object-fit: contain;
}
.tunnel-vision.photo-judgement-panel-B.self-judgement img {
  width:  4rem;
  height: 4rem;
}

.tunnel-vision.photo-judgement-panel-B label {
  font-size: 3rem;
  text-shadow: 0 0 1rem white;
}

.tunnel-vision.photo-judgement-panel-B .real-or-fake {
  display: flex;
  justify-content: center;
}
.tunnel-vision.photo-judgement-panel-B .real-or-fake push-button {
  flex-grow: 1;
  height: 3rem;
  max-width: 80vmin;
  margin: 0.5rem;
  font-size: 3rem;
  border-radius: 1rem;
  padding-left:  1rem;
  padding-right: 1rem;
}
.tunnel-vision.photo-judgement-panel-B .real-or-fake push-button.selected {
  outline: 3vmin solid yellow;
}

.tunnel-vision.photo-judgement-panel-A .photo-judgement-image {
  position: absolute;
  left: 0;
  top:  0;
  width:  100%;
  height: 100%;
  object-fit: contain;
  padding: 3vmin;
  box-sizing: border-box;
  background: black;
}

.tunnel-vision.photo-judgement-panel-B .be-honest {
  text-align: center;
  font-size: 2rem;
  color: red;
  font-weight: bold;
  animation: 0.5s be-honest-flash alternate infinite;
  text-shadow: 0 0 .5rem black;
}
@keyframes be-honest-flash {
  from { opacity: 0; }
  to   { opacity: 1; }
}
