@font-face {
  font-family: "Timothy";
  src: url("/games/tunnel-vision/timothy.woff2") format("woff2");
}

.tunnel-vision, .tunnel-vision button {
  font-family: Timothy;
}
.tunnel-vision h1, .tunnel-vision h2 {
  font-weight: normal;
}

.tunnel-vision.confirmation-panel-A {
  background: rgb(152, 148, 127);
}

.tunnel-vision.confirmation-panel-A h1 {
  font-size: 20vmin;
  color: #d03e3e;
  text-shadow: 0 0 4vmin #b7b7b7;
  text-align: center;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  padding: 2vmin;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
}
.tunnel-vision.confirmation-panel-A.flash h1 {
  animation: 0.5s flash-confirmation ease-in-out alternate infinite;
}
@keyframes flash-confirmation {
  from { opacity: 1; }
  to   { opacity: 0.2; }
}

.tunnel-vision.confirmation-panel-B {
  background: rgb(152, 148, 127);
  display: flex;
  justify-content: center;
  align-items: center;
}

.tunnel-vision.confirmation-panel-B push-button {
  --size: calc(min(var(--panel-width), var(--panel-height)) * 0.7);
  width:  var(--size);
  height: var(--size);
  border-radius: calc(var(--size) / 4);
  background-image: url('data:image/svg+xml,\
    <svg viewBox="0 0 96 96" xmlns="http://www.w3.org/2000/svg">\
      <path fill="%23fdc921" stroke="%23eda600" stroke-width="3" d="M80.2 48c0 3-3.3 5-6 6.2 1.6 1.1 3.9 4.3 3.9 5.4.1 2.6-1.7 5.5-4 7.1 1.4 1.5 2.3 4 1.7 6.1a7 7 0 01-4.9 4.9c2.3 3.8 1.4 7-.6 9.4C68 89.6 64.7 91 60 91h-6.7c-2.2 0-4.8-.3-7.5-.7-2.8-.6-4.9-1-6.4-1.5l-6.2-2.1a41.3 41.3 0 00-10-2.3c-1 0-7-.3-7.6-1-.6-.8-.9-1.3-.9-2.2V47.9a3 3 0 011-2.2c.5-.6 6.5-1.1 7.4-1.1.8 0 4-1 5.8-3 1.8-2 3.5-4.1 5.3-6.4 2.5-3 4.1-5.2 5.3-6.2.6-.6 1.2-1.5 1.7-2.5l1-2.5c0-.8.4-1.7.7-3.2l1.1-5.3c.2-.8.6-3 1.2-4 .5-1.1 1-3 1.7-3.6.6-.6 1.6-1.7 2.4-1.7 1.7 0 3.2 0 4.4.5 1.2.3 2 1.5 2.9 2.1.8.6 1.6 2.2 2.3 3 .6 1 1 3 1 3.7.5 4 .6 4.6.6 7.7a30 30 0 01-.6 5.2c-.3 1.3-.7 2.4-1.1 3.2-.5.7-.8 1.6-1.4 2.8l-.4 1c-.3.4-.5.7-.6 1.2l-.5 1.2h14.4c2.7 0 5 1 7 3 1.8 2.1 2.9 4.4 2.9 7.1z"/>\
    </svg>\
  ');
}
.tunnel-vision.confirmation-panel-B.selected push-button {
  outline: 3vmin solid yellow;
  outline-offset: 2vmin;
}
