.thing {
  position: fixed;
  width:  10vmin;
  height: 10vmin;
}
.thing img {
  position: absolute;
  width:  100%;
  height: 100%;
}
.thing.chosen:before {
  content: '';
  position: absolute;
  width:  100%;
  height: 100%;
  background: no-repeat center / contain url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16.9 16.9" height="64" width="64"><path d="M3.7 7.5l-3-3.8L5 6 5.7.5l2.1 4.1L12.3.2l-1.7 5.2 4.3-1.6-3 4.2h4.5l-4.6 2.7 2.4 3.8-4.4-1.2-.2 3L7.8 13l-.4 2-.4-1.6-1.9 3 .3-4.4-3.8 3.6 1.8-4.3-3-.8 3.3-3z" fill="%23fdfe00"/></svg>');
  transform: scale(1.7);
}
.thing.present-in-center {
  width:  20vmin;
  height: 20vmin;
  left:   calc(50vw - 10vmin) !important;
  bottom: calc(50vh - 10vmin) !important;
  transition: all 1s ease-in-out;
}
.thing.show-in-top-right {
  width:  15vmin;
  height: 15vmin;
  left:   calc(100vw - 17vmin) !important;
  bottom: calc(100vh - 17vmin) !important;
  transition: all 1s ease-in-out;
}
.thing-label {
  position: absolute;
  left: -50%;
  right: -50%;
  top: 105%;
  text-align: center;
  opacity: 0;
  animation: fade-in 1s 1s forwards;
  font-size: 6vmin;
}

.all-the-things.photo-container {
  position: absolute;
  z-index: 4;
}
.all-the-things.photo-container .crop-container {
  position: absolute;
  left:   40%;
  top:    33%;
  right:  40%;
  bottom: 48%;
  overflow: hidden;
  animation: 0.5s 0.5s scale-up-taken-photo forwards;
  box-shadow: 0 0 2vmin black;
}
@keyframes scale-up-taken-photo {
  to { left: 0; top: 0; right: 0; bottom: 0; }
}
.all-the-things.photo-container img {
  position: absolute;
  width:  100%;
  height: 100%;
  transform: scale(-3.2, 3.2);
  object-fit: cover;
}
