.all-the-things.another-round-screen {
  position: fixed;
  left:   0;
  top:    0;
  right:  0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.all-the-things.another-round-screen h1 {
  text-align: center;
  font-size: 12vw;
  margin-top: 3vh;
}
