.all-the-things.title-screen {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.all-the-things.title-screen .title-image-background {
  position: absolute;
  left:   0;
  right:  0;
  bottom: 0;
  top: 20vh;
  background: no-repeat bottom / contain url('data:image/svg+xml,\
    <svg viewBox="0 0 396.9 317.5" xmlns="http://www.w3.org/2000/svg">\
      <path fill="%23fdfe00" d="M346 0s-39 19-48 25c-9 7-45 25-45 25l4-9c2-5 12-17 12-17l-11 2-32 23a332 332 0 01-28 17 33 33 0 01-2-12l-8-37s-6 8-8 15l-7 30s-6-3-8-6l-26-31-1 14 1 26-16-16c-5-5-61-41-61-41l6 30c3 11 29 73 29 73S68 99 59 93c-10-6-40-17-40-17s29 29 33 37c5 8 21 21 21 21l-24-1 35 35-24 3c-12 2-33 10-33 10a60 60 0 018 4l13 12-29-7c-6-2-19 0-19 0l19 32a569 569 0 0022 32l-31 3 14 10 19 12s-16 20-24 23a79 79 0 00-18 14s37-7 46-6h13l-23 11 350 2s-4-12-15-17c-10-5-28-12-31-15l-11-11s39 14 49 12h21s-9-20-22-25l-33-14s16-4 21-9l20-18s-49 12-55 10a108 108 0 00-14-4 485 485 0 0016-8c11-5 63-19 63-19s-4-8-19-12c-15-5-75-5-75-5l17-18c10-10 26-19 34-24s38-33 38-33-45 15-56 21-51 22-51 22l9-11c4-6 21-21 21-21l-41 6 5-20a177 177 0 0125-49 1370 1370 0 0043-61z"/>\
    </svg>\
  ');
  opacity: 0;
  animation: 5s ease-out slide-in-title-image-background forwards;
}
@keyframes slide-in-title-image-background {
  0%   { opacity: 0; transform: translateY(10vh) scale(0.9); }
  20%  { opacity: 1; }
  100% { opacity: 1; transform: translateY(0) scale(1); }
}
.all-the-things.title-screen .title-image {
  position: absolute;
  left: 0;
  right: 0;
  top: 20vh;
  bottom: 0;
  background: no-repeat bottom / contain url('data:image/svg+xml,\
    <svg viewBox="0 0 396.9 317.5" xmlns="http://www.w3.org/2000/svg">\
      <path d="M195.3 258.3c2.4-6.1 4.1-13 4.7-26 .5-13-5.6-27.3-7.2-34-1.7-6.6-5.3-10-5.9-13.8-.5-4-1-5-3.3-9.2-2.2-4.2 8-1 8-1l44.5-7.6 24.1-41.6s4.2 13 7.8 25.2c3.6 12.2 7 26.4 8.6 37 1.7 10.5 8.9 22.4 8.9 34.4 0 0-2.3 24.8-.3 37 3.9 23.8 23.4 68.8 23.4 68.8l-147.4-2.7s18.6-26.5 34.1-66.5z" fill="%23ff017e" stroke="black" stroke-width="2.7"/>\
      <path d="M245 175.1s-20 11.6-24.5 10.5c-4.4-1-18.8.5-21.9-1-3-1.8-15.3-3.7-18.3-11-3-7.2-5.9-16.9-9-20-3-3-10.5-15.8-10.5-15.8s-2.2-10-2.2-13.9c0-3.8 4.7-26 4.7-26s5.3-6.4 9.2-9a96 96 0 0 1 26.7-6.6c2.5.6 21 0 25.2-2.8 4.2-2.8 24.7 11.1 24.7 11.1s7 7 8.4 13.4c1.3 6.3 8.3 17 5.5 23-2.8 6.1-3 3.6-4.4 9.7-1.4 6.1 2.2 4.7-1.7 14.4-3.9 9.8-7.5 20-7.5 20z" fill="white" stroke="black" stroke-width="2.5"/>\
      <path d="M172.8 89.5s-6.2-4-9.5-6.6c-3.4-2.5-14-6.4-14-6.4s3.7-3.9 14-6a66 66 0 0 1 19.1-2.6c4.4.4 13.1 3 15.8 7.7 2.6 4.5 3 7.4 3 7.4z" fill="%23feff99" stroke="black" stroke-width="2.5"/>\
      <path d="M172 156.4L67.2 219.6" fill="none" stroke="black" stroke-width="2.2"/>\
      <path d="M264.3 122.1L276.5 5.4l-9.2-1 2.5 8h3.5l.4-5.6" fill="none" stroke="black" stroke-width="2.5"/>\
      <path d="M236.4 157.8l-3.7.8s-.2 3.2-2.5 5.5l-3.8 4s-6.7 1-10.9 1c-4.1 0-5.5 1-8.2.6-2.6-.4-15.6-6.8-15.6-6.8s-.9-16-.6-15c.3.7-2-4.8-5.8-7.9l-18.6-15.2s.5-4.3 1-5.6c.4-1.2 5.4-6.2 6-7.5.7-1.2 2.7-2.5 5.9-4 3.2-1.8 19.3-11.5 26.2-12.4 7-.8 13.3-.4 15.4 1a55.5 55.5 0 0 1 11.7 19.6 368 368 0 0 1 3.7 20.8z"/>\
      <path d="M168.8 122.2l6.2-7.3.3-3 5.2-2.9 2.2 2.7.2 1c0 .6-.5 1-.5 1l-4.1 2.3.4 3.2-4.6 2.1-.7 4.3s-2-.7-2.7-1.4zm14.5-13.8l3.6-1.2 1.3-1.6 2.7.1s1.1-2.3 3.3-3c2.3-1 4.4-1.5 4.4-1.5s2.3-2.2 2.8-2.4c.4 0 1.3 0 1.6.2l2.7 2.3s-1.4 1.7-2.4 2.2c-1.1.4-3.2.6-3.2.6s-1.2 2.1-3.4 3c-2.3 1-4.9 1-4.9 1l-.4 1.8-5.7 3c-.4 0-1-.3-1.3-.4l-.8-1.5zm37.2-6.5s-6 .3-8 .6a87 87 0 0 0-5.3.8s-1.3-.5-1.3-2.8.8-2.3.8-2.3 1.7-.2 2.6 0h1.6l3.1-1 1.6 1.1s1.7-.8 2.6-.8c1 0 2.2 0 2.3 1.5v3zm-21.4 61.8s-1.6-.3-3-.8-2.2-1-2.2-1l-.5-3.2 4 1 1 2 .7 2zm.4-1.7v3.2s2.2-.4 5-.3c2.8.2 13.6 1.5 17.2 1 3.6-.4 5.2-1.3 7.5-5.5l2.3-4 4.3-2.8s-.4-1.2-1-1.8l-1.2-.8-2 .4s-1.9 2.4-2.8 3.3c-.8.8-1.4 1.2-2 2.2l-1 2.1s-7 4.3-8 4.5c-1 .3-11.7.5-11.7.5s-1.3-1.3-3.2-1.7c-1.8-.3-3.4-.3-3.4-.3zm34.5-14.7c1 .1 1.6.6 1.7 1.2.1.6 0 1.6-1.1 1.6a2 2 0 0 1-1.8-1c-.3-.6.1-1.9 1.1-1.8zm-.9-4.4l3.2.8s.1 1.3-1.6 2c-1.6.8-2.2.4-2.2.4z" fill="white"/>\
      <circle cx="158.8" cy="108.3" r="11.7" fill="white" stroke="black" stroke-width="2.7"/>\
      <circle r="13" cy="84.3" cx="236.5" fill="white" stroke="black" stroke-width="2.7"/>\
      <path d="M152.7 107.1h2.2v2h-2.2z"/>\
      <ellipse cx="240.9" cy="82.2" rx="1.4" ry="1.6"/>\
    </svg>\
  ');
  opacity: 0;
  animation: 5s ease-out slide-in-title-image forwards;
}
@keyframes slide-in-title-image {
  0%   { opacity: 0; transform: translateY(18vh) scale(0.8); }
  20%  { opacity: 1; }
  100% { opacity: 1; transform: translateY(0) scale(1); }
}

.all-the-things.title-screen.finished {
  animation: 2s zoom-in-and-fade-out;
}
@keyframes zoom-in-and-fade-out {
  from { transform: scale(1);  opacity: 1; }
  to   { transform: scale(10); opacity: 0; }
}

.all-the-things.title-screen h1 {
  text-align: center;
  font-size: 25vmin;
/*   margin-top: 5vh; */
  color: white;
  margin: 0;
  -webkit-text-stroke: 0.4vmin black;
/*   z-index: 1; */
  text-shadow: black -3px 7px 20px;
/*   opacity: 0; */
  transform: scale(0.2);
  animation: ease-in-out show-title 4s forwards;
  animation-delay: 2s;
}
.all-the-things.title-screen h1 div {
  font-size: 11vmin;
}
@keyframes show-title {
  from { transform: scale(0.2); }
  to   { transform: scale(1.0); }
}

.all-the-things.title-screen h2 {
/*   text-align: center; */
/*  position: fixed;
  left: 0;
  right: 0;
  bottom: 21vh;*/
/*   margin-bottom: 5vh; */
  margin: 0;
  margin-top: 3vmin;
  font-size: 11vmin;
  -webkit-text-stroke: 0.2vmin black;
  text-shadow: #000 0.2vmin 0.3vmin 1.5vmin;
  color: white;
/*   opacity: 0; */
/*   animation: fade-in 3s 2.5s forwards; */
}

.all-the-things.title-screen canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
/*   opacity: 0.5; */
}

.all-the-things.title-screen h1 .closeup-trickery {
  position: relative;
}

.all-the-things.title-screen .magnifying-glass-container {
  position: absolute;
  width: 20vmin;
  height: 20vmin;
  top: -1.5vmin;
  left: calc(50% - 10vmin);
  transform: translate(-25vmin);
  animation: move-magnifying-glass 3s ease-out forwards;
  animation-delay: 4s;
}
@keyframes move-magnifying-glass {
/*   from { transform: translate(-25vmin); } */
  to   { transform: translate( 35vmin); }
}

.all-the-things.title-screen .magnifying-glass-container .zoomed-text {
  transform: scale(1.5) translateZ(0);
  clip-path: circle(2.7vmin at center);
  position: absolute;
  width: 60vmin;
  left: calc(50% - 30.9vmin);
  top: 1vmin;
  white-space: nowrap;
  background: #98947f;
}
.all-the-things.title-screen .magnifying-glass-container .zoomed-text > div {
  translate( 8vmin);
  animation: scroll-zoomed-text 3s ease-out forwards;
  animation-delay: 4s;
}
@keyframes scroll-zoomed-text {
/*   from { transform: translate( 8vmin); } */
  to   { transform: translate(-28vmin); }
}

.all-the-things.title-screen .magnifying-glass {
  width:  100%;
  height: 100%;
  background: no-repeat center / contain url('data:image/svg+xml,\
    <svg viewBox="0 0 64 64" xmlns="http://www.w3.org/2000/svg">\
      <path stroke="%2385848c" stroke-width="4.5266" fill="none" d="m32.34 31.032 1.8757 7.0003"/>\
      <circle cx="29.042" cy="16.233" r="14.126" fill="%2350d3f0" fill-opacity=".43889" stroke="%23554f63" stroke-linejoin="round" stroke-width="2.829"/>\
      <g>\
        <path d="m17.871 17.188c0.24891-5.4407 3.2679-9.0543 7.3271-11.924 0 0-2.5686 3.0657-4.3157 5.6912-1.7471 2.6255-3.0114 6.2333-3.0114 6.2333z" fill="%23f3fcfe"/>\
        <path d="m38.632 18.434c-0.1505 3.2896-1.9759 5.4745-4.4302 7.2099 0 0 1.5531-1.8536 2.6094-3.4411 1.0564-1.5874 1.8208-3.7688 1.8208-3.7688z" fill="%23f3fcfe"/>\
        <path d="m37.719 37.073c-3.202-0.17228-5.0053 0.85079-6.8527 1.8362l6.9121 24.402c1.9449 0.22037 3.9293 0.15645 6.1555-1.6494z" fill="%239c6054"/>\
        <path d="m33.568 37.637 7.1599 25.611c-1.0096 0.20897-1.9834 0.17186-2.9488 0.06248l-6.9139-24.402c0.85983-0.45863 1.7165-0.92044 2.7027-1.2711z" fill="%237a575c"/>\
        <rect transform="rotate(-15)" x="19.783" y="48.49" width="7.0076" height="1.7321" fill="%23585570"/>\
      </g>\
    </svg>\
  ');
}
