.all-the-things.title-screen {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.all-the-things.title-screen.finished {
  animation: 2s fade-out-title-screen;
}
@keyframes fade-out-title-screen {
  from { opacity: 1; }
  to   { opacity: 0; }
}

.all-the-things.title-screen h1 {
  text-align: center;
  font-size: 25vmin;
  color: white;
  margin: 0;
  -webkit-text-stroke: 0.4vmin black;
  text-shadow: black -3px 7px 20px;
  animation: ease-in-out show-title 4s both;
  animation-delay: 2s;
}
@keyframes show-title {
  from { transform: scale(0.2); }
  to   { transform: scale(1.0); }
}

.all-the-things.title-screen canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.all-the-things.title-screen h1 .closeup-trickery {
  font-size: 11vmin;
  position: relative;
}

.all-the-things.title-screen .magnifying-glass-container {
  position: absolute;
  width: 20vmin;
  height: 20vmin;
  top: -1.5vmin;
  left: calc(50% - 10vmin);
  --reveal-duration: 2s;
  --reveal-delay: 5s;
  animation: magnifying-glass-container-keyframes both;
  animation-duration: var(--reveal-duration);
  animation-delay: var(--reveal-delay);
}
@keyframes magnifying-glass-container-keyframes {
  from { transform: translate(-25vmin); }
  to   { transform: translate( 35vmin); }
}

.all-the-things.title-screen .magnifying-glass-container::before {
  content: '';
  background: #98947f;
  position: absolute;
  left: 9vmin;
  top: 0;
  z-index: -1;
  height: 15vmin;
  width: 100vw;
}

.all-the-things.title-screen .magnifying-glass-container .zoomed-text {
  transform: scale(1.5) translateZ(0);
  clip-path: circle(2.7vmin at center);
  position: absolute;
  width: 60vmin;
  left: calc(50% - 30.9vmin);
  top: 1vmin;
  white-space: nowrap;
  background: #98947f;
}
.all-the-things.title-screen .magnifying-glass-container .zoomed-text > div {
  translate( 8vmin);
  animation: zoomed-text-keyframes both;
  animation-duration: var(--reveal-duration);
  animation-delay: var(--reveal-delay);
}
@keyframes zoomed-text-keyframes {
  0%   { transform: translate( 8vmin); opacity: 0; }
  15%  { opacity: 1; }
  100% { transform: translate(-28vmin); opacity: 1; }
}

.all-the-things.title-screen .magnifying-glass {
  width:  100%;
  height: 100%;
  background: no-repeat center / contain url('data:image/svg+xml,\
    <svg viewBox="0 0 64 64" xmlns="http://www.w3.org/2000/svg">\
      <path stroke="%2385848c" stroke-width="4.5266" fill="none" d="m32.34 31.032 1.8757 7.0003"/>\
      <circle cx="29.042" cy="16.233" r="14.126" fill="%2350d3f0" fill-opacity=".43889" stroke="%23554f63" stroke-linejoin="round" stroke-width="2.829"/>\
      <path d="m17.871 17.188c0.24891-5.4407 3.2679-9.0543 7.3271-11.924 0 0-2.5686 3.0657-4.3157 5.6912-1.7471 2.6255-3.0114 6.2333-3.0114 6.2333z" fill="%23f3fcfe"/>\
      <path d="m38.632 18.434c-0.1505 3.2896-1.9759 5.4745-4.4302 7.2099 0 0 1.5531-1.8536 2.6094-3.4411 1.0564-1.5874 1.8208-3.7688 1.8208-3.7688z" fill="%23f3fcfe"/>\
      <path d="m37.719 37.073c-3.202-0.17228-5.0053 0.85079-6.8527 1.8362l6.9121 24.402c1.9449 0.22037 3.9293 0.15645 6.1555-1.6494z" fill="%239c6054"/>\
      <path d="m33.568 37.637 7.1599 25.611c-1.0096 0.20897-1.9834 0.17186-2.9488 0.06248l-6.9139-24.402c0.85983-0.45863 1.7165-0.92044 2.7027-1.2711z" fill="%237a575c"/>\
      <rect transform="rotate(-15)" x="19.783" y="48.49" width="7.0076" height="1.7321" fill="%23585570"/>\
    </svg>\
  ');
  animation: magnifying-glass-keyframes both;
  animation-duration: var(--reveal-duration);
  animation-delay: var(--reveal-delay);
}
@keyframes magnifying-glass-keyframes {
  0%   { opacity: 0; }
  15%  { opacity: 1; }
  to   { opacity: 1; }
}
