@import url('/host/player-bubble.css');

audience-el {
  --slot-size: min((100vw / var(--player-count)) - (var(--slot-margin) * 2), 5rem);
  --slot-margin: .3rem;

  max-height: var(--slot-size);

  background: linear-gradient(to top, black, rgb(0,0,0,.58), transparent);

  display: flex;
  justify-content: center;
  align-items: flex-end;
  pointer-events: none;
}

audience-el .slot {
  font-size: var(--slot-size);

  margin-left:  var(--slot-margin);
  margin-right: var(--slot-margin);
  transition: .2s margin;

/*   outline: 1px solid red; */

  display: flex;
  justify-content: center;
  align-items: center;
}
audience-el .slot:not(.open) {
  font-size: 0;
  margin: 0;
}

audience-el player-bubble {
  --size: 1em;
  transition: .2s width, .2s height;
  pointer-events: auto;
}
