.audience-mode-background {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  height: 20vh;
  background: linear-gradient(to top, black, rgba(0, 0, 0, 0.58), transparent);
  z-index: 2;
  animation: 0.2s reveal-audience-mode-background ease-out forwards;
}
@keyframes reveal-audience-mode-background {
  from { bottom: -20vh; }
  to   { bottom: 0; }
}
.player.audience-mode {
  margin-top:  0;
  margin-left: 0;
  overflow: visible;
  transition: 0.5s transform, 0.5s box-shadow;
}
.player.audience-mode.transition-position {
  transition: left 1s, top 1s, width 1s, height 1s, margin-left 1s, margin-top 1s;
}
.player.new-player-in-audience {
  transform: translateY(20vh);
}
.player.new-player-in-audience.revealing {
  animation: 0.5s new-player-in-audience-reveal ease-out forwards;
}
@keyframes new-player-in-audience-reveal {
  0%   { transform: translateY(20vh); }
  50%  { transform: translateY(-6vh); }
  80%  { transform: translateY(4vh); }
  87%  { transform: translateY(2vh); }
  100% { transform: translateY(0); }
}

.player .speech-bubble {
  position: absolute;
  bottom: 102%;
  right: 0;
  background-color: #fff;
  border-radius: 2vmin;
  padding: 1vmin;
  font-weight: bold;
  min-width: 13vmin;
  min-height: 8vmin;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.6vmin solid black;
  font-size: 3vmin;
  transform: scale(0);
  transform-origin: bottom;
  animation: 0.5s both pop-in;
  z-index: 6;
}
.player .speech-bubble:before {
  content: '';
  width: 3vmin;
  height: 3vmin;
  background: white;
  border-left: 0.6vmin solid black;
  border-bottom: 0.6vmin solid black;
  transform: rotate(-45deg);
  position: absolute;
  top: calc(100% - 1.4vmin);
  right: 2.5vmin;
}
.player .speech-bubble.cleared {
  opacity: 1;
  transform-origin: center;
  transform: scale(1);
  animation: 1s cleared-speech-bubble forwards;
}
@keyframes cleared-speech-bubble {
  to { opacity: 0; transform: scale(1.2); }
}
.player .speech-bubble.highlight {
  transform: scale(1);
  filter: drop-shadow(0 0 1vmin yellow);
  animation: 0.2s highlight-speech-bubble alternate infinite forwards;
}
@keyframes highlight-speech-bubble {
  to { transform: scale(1.2); }
}

.player.highlight-in-audience {
  transform: translateY(-4vh) scale(1.2);
  box-shadow: 0 1vmin 5vmin #000000;
  z-index: 8;
}
