.audience-mode-background {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  height: 20vh;
  background: linear-gradient(to top, black, rgb(0,0,0,.58), transparent);
  z-index: 2;
  animation: 0.2s reveal-audience-mode-background ease-out forwards;
  pointer-events: none;
}
@keyframes reveal-audience-mode-background {
  from { bottom: -20vh; }
  to   { bottom: 0; }
}
.audience-mode-background.fade-out {
  animation: 0.5s fade-out-audience-mode-background ease-out forwards;
}
@keyframes fade-out-audience-mode-background {
  from { bottom: 0; }
  to   { bottom: -20vh; }
}
.player.audience-mode {
  overflow: visible;
  transition: 0.5s box-shadow;
}
.player.audience-mode-layout-animation {
  transition: left 1s, top 1s, width 1s, height 1s, margin-left 1s, margin-top 1s, 0.5s box-shadow;
}
.player.audience-mode.new {
  transition: 0.5s transform;
  transform: translateY(20vh);
  animation: 0.5s new-player-in-audience-reveal ease-out forwards;
}
@keyframes new-player-in-audience-reveal {
  0%   { transform: translateY(20vh); }
  50%  { transform: translateY(-6vh); }
  80%  { transform: translateY(4vh); }
  87%  { transform: translateY(2vh); }
  100% { transform: translateY(0); }
}

.player.highlight-in-audience {
  transition: 0.5s transform;
  transform: translateY(-4vh) scale(1.2);
  box-shadow: 0 1vmin 5vmin #000000;
  z-index: 8;
}
.player.transitioning-to-fullscreen-in-audience {
  transition: 0.5s top, 0.5s left, 0.5s width, 0.5s height;
}
.player.fullscreen-in-audience {
  top: 25vmin !important;
  left: calc(50vw - (45vmin / 2)) !important;
  width:  45vmin !important;
  height: 45vmin !important;
  font-size: 60vmin !important;
  transform: none;
  margin-left: 0;
  margin-top:  0;
  box-shadow: 0 1vmin 5vmin #000000;
}

.player-bubble-placeholder {
  position: absolute;
  margin-left: -6vw;
  margin-top:  -6vw;
  border-radius: 50%;
  background: rgb(0,0,0,.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
  animation: 3s fade-in forwards;
  cursor: wait;
}
.player-bubble-placeholder.audience-mode-layout-animation {
  transition: left 1s, top 1s, width 1s, height 1s;
}
.player-bubble-placeholder.removing {
  animation: 3s fade-out forwards;
}
.player-bubble-placeholder svg {
  position: absolute;
  left: 0;
  top:  0;
  width:  100%;
  height: 100%;
  animation: 7s player-bubble-placeholder-circle infinite linear;
  transform-origin: center;
}
.player-bubble-placeholder svg circle {
  fill: none;
  stroke-width: 0.3vw;
  stroke-dasharray: 10.5;
  stroke: #bbb;
  stroke-linecap: round;
}
@keyframes player-bubble-placeholder-circle {
  from { transform: rotate(  0deg); }
  to   { transform: rotate(360deg); }
}
.player-bubble-placeholder > label {
  font-size: 1.5vw;
  font-weight: 800;
  text-align: center;
  color: #bbb;
  animation: 1s pulse-player-placeholder-label infinite alternate;
  pointer-events: none;
}
@keyframes pulse-player-placeholder-label {
  from { opacity: 1.0; }
  to   { opacity: 0.6; }
}
