html {
  overflow: hidden;
  height: 100%;
}
body {
  height: 100%;
  transition: background-color 1s;
}

#connection-status {
  position: fixed;
  width:  100%;
  height: 100%;
  display: none;
  flex-direction: column;
  background-color: #fff;
  text-align:      center;
  justify-content: center;
  align-items:     center;
  font-size: 5vw;
}
#connection-status.connecting { display: flex; background-color: blue; }
#connection-status.error      { display: flex; background-color: red;  }
#connection-status::before {
  font-size: 10vw;
}
#connection-status.connecting::before { content: 'Connecting..'; }
#connection-status.error::before      { content: 'Error';        }
#warning-indicator {
  position: fixed;
  top:   0;
  right: 0;
  z-index: 8;
  background-color: #fff;
  color: red;
}

#pause-indicator {
  display: none;
}
#pause-indicator.activated {
  position: fixed;
  z-index: 4;
  left: 0;
  top:  0;
  width:  5vw;
  height: 5vw;
  font-size: 4vw;
  display: flex;
  justify-content: center;
  align-items:     center;
  color: white;
  background-color: black;
  border-bottom-right-radius: 2vw;
}

#route-not-found {
  position: fixed;
  left:   0;
  top:    0;
  right:  0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:     center;
}
#route-not-found h1,
#route-not-found p {
  z-index: 2;
}
