player-grid {
  display: grid;
/*   flex-wrap: wrap; */
  align-items: center;
  justify-content: center;
  grid-template-columns: repeat(var(--player-sqrt), 1fr);
  grid-template-rows: repeat(var(--player-sqrt), 1fr);
/*   --grid-width: 100vw; */
/*   --grid-height: 100vh; */
/*   --grid-area: calc(var(--grid-width) * var(--grid-height)); */
}

player-grid .slot {
  outline: 1px solid red;
/*   --aspect: calc(1/2); */
  width: 100%;
  height: 100%;
/*   width:  calc((100vmin / var(--player-sqrt)) * var(--aspect)); */
/*   height: calc((100vmin / var(--player-sqrt)) * (1 / var(--aspect))); */
}
