speech-bubble {
  background-color: #fff;

  min-width: 3rem;
  min-height: 2.3rem;
  box-sizing: border-box;
  padding: 0.3rem;

  --outline-thickness: .1rem;
  border: var(--outline-thickness) solid black;
  border-radius: .5rem;
  filter: drop-shadow(.1rem .1rem .4rem rgba(0, 0, 0, 0.5));

  font-family: NotoColorEmoji_subset;
  font-weight: bold;
  font-size: 1.3rem;

  display: flex;
  justify-content: center;
  align-items:     center;

  transform: scale(0);
  transform-origin: bottom;
  animation: 0.5s both pop-in;
}

/* Arrow */
speech-bubble:before {
  content: '';

  --arrow-size: .7rem;
  width:  var(--arrow-size);
  height: var(--arrow-size);

  background: white;
  border-left:   var(--outline-thickness) solid black;
  border-bottom: var(--outline-thickness) solid black;

  position: absolute;
  top: calc(100% - (var(--arrow-size) * .47));
  right: .5rem;
  transform: rotate(-45deg);
  z-index: -1;
}

speech-bubble.cleared {
  opacity: 1;
  transform-origin: center;
  transform: scale(1);
  animation: 1s cleared-speech-bubble forwards;
}
@keyframes cleared-speech-bubble {
  to { opacity: 0; transform: translateY(-30%) scale(1.2); }
}

speech-bubble.highlight {
  transform: scale(1);
  filter: drop-shadow(0 0 1vmin yellow);
  animation: 0.2s highlight-speech-bubble alternate infinite forwards;
}
@keyframes highlight-speech-bubble {
  to { transform: scale(1.2); }
}
