@import url('tunnel-vision.css');
@import url('phone.css');
@import url('/common/base.css');

:host {
  position: fixed;
  left:   0;
  top:    0;
  right:  0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
h1 {
  opacity: 0;
  font-size: 8vw;
  margin-top: 3vh;
  margin-bottom: 0;
}
.goal-text {
  opacity: 0;
  margin-right: 4vw;
}
.goal-text .find-a-piece-of {
  font-size: 6vw;
}
.goal-text .thing-text {
  font-size: 10vw;
  text-align: center;
}
.goal-container {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.phone {
  transform: translateY(85vh);
}
.phone.reveal {
  animation: 2s reveal-phone forwards;
}
@keyframes reveal-phone {
  from { transform: translateY(85vh); }
  to   { transform: translateY(0); }
}
.phone-background .thing {
  position: absolute;
  width:  100%;
  height: 100%;
  transform: scale(0.5) translateY(-67vh);
}
.phone.reveal .phone-background .thing {
  animation: 2s reveal-phone-background forwards, 1.5s 2s zoom-phone-background forwards;
}
@keyframes reveal-phone-background {
  from { transform: scale(0.5) translateY(-67vh); }
  to   { transform: scale(0.5) translateY(0); }
}
@keyframes zoom-phone-background {
  from { transform: scale(0.5); }
  to   { transform: scale(1.5); }
}
.phone-background:after {
  content: '';
  display: block;
  position: absolute;
  left: 30%;
  right: 31%;
  top: 37%;
  bottom: 40%;
  background-color: #fff;
  opacity: 0;
}
.phone.reveal .phone-background:after {
  animation: 0.5s 3s flash-cropped-area alternate 3 forwards;
}
@keyframes flash-cropped-area {
  from { opacity: 0; }
  to   { opacity: 0.8; }
}
h2 {
  font-size: 5vw;
  margin: 0;
  opacity: 0;
  margin-bottom: 27vh;
  color: #d03e3e;
  text-shadow: 0 0 3vmin #bfbfbf;
}
h2.fade-in-text {
  animation: 0.5s flash-ready-to-start-looking ease-in-out alternate infinite;
}
@keyframes flash-ready-to-start-looking {
  from { opacity: 1; }
  to   { opacity: 0.2; }
}
.fade-in-text {
  animation: 1s fade-in forwards;
}
