@font-face {
  font-family: "Timothy";
  src: url("/games/tunnel-vision/timothy.woff2") format("woff2");
  font-display: block;
}

#games-index a[href="#games/tunnel-vision"] {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #98947f;
  font-size: 4em;
  font-family: Timothy;
  color: white;
  -webkit-text-stroke: 0.01em black;
  text-shadow: black 0 0.1em 0.3em;
}

.tunnel-vision h1, .tunnel-vision h2 {
  font-family: Timothy;
  font-weight: normal;
}

:host {
  font-family: Timothy;
}

.thing {
  position: fixed;
  width:  16vmin;
  height: 16vmin;
  will-change: transform;
}
.thing img {
  position: absolute;
  width:  100%;
  height: 100%;
}
.thing.chosen:before {
  content: '';
  position: absolute;
  width:  100%;
  height: 100%;
  background: no-repeat center / contain url('data:image/svg+xml,\
    <svg viewBox="0 0 17 17" xmlns="http://www.w3.org/2000/svg">\
      <path fill="%23fdfe00" d="M3.7 7.5l-3-3.8L5 6 5.7.5l2.1 4.1L12.3.2l-1.7 5.2\
        4.3-1.6-3 4.2h4.5l-4.6 2.7 2.4 3.8-4.4-1.2-.2 3L7.8 13l-.4 2-.4-1.6-1.9 3\
        .3-4.4-3.8 3.6 1.8-4.3-3-.8 3.3-3z"/>\
    </svg>\
  ');
  transform: scale(1.7);
}
.thing.present-in-center {
  width:  20vmin;
  height: 20vmin;
  transform: translate(calc(50vw - 10vmin), calc(50vh - 10vmin)) !important;
  transition: all 1s ease-in-out;
}
.thing.show-in-top-right {
  width:  15vmin;
  height: 15vmin;
  transform: translate(calc(100vw - 19vmin), 2vmin) !important;
  transition: all 1s ease-in-out;
}
.thing-label {
  position: absolute;
  left: -50%;
  right: -50%;
  top: 105%;
  text-align: center;
  opacity: 0;
  animation: fade-in 1s 1s forwards;
  font-size: 7vmin;
}

.photo-container {
  position: absolute;
  z-index: 4;
  transition: opacity 1s, left 0.8s ease-in-out, top 0.8s ease-in-out, width 0.8s ease-in-out, height 0.8s ease-in-out;
}
.photo-container .crop-container {
  position: absolute;
  left:   40%;
  top:    33%;
  right:  40%;
  bottom: 48%;
  overflow: hidden;
  animation: 0.5s 0.5s scale-up-taken-photo forwards;
  box-shadow: 0 0 2vmin black;
}
@keyframes scale-up-taken-photo {
  to { left: 0; top: 0; right: 0; bottom: 0; }
}
.photo-container img {
  position: absolute;
  width:  100%;
  height: 100%;
  transform: scale(3.2);
  object-fit: cover;
}
/*.grid-debug-block {
  position: fixed;
  border: 1px solid red;
  box-sizing: border-box;
  pointer-events: none;
}*/
