#messaging-panel .container {
  position: absolute;
  left:   0;
  top:    0;
  right:  0;
  bottom: 0;
  display: flex;
  flex-direction: column;
}

#messaging-panel .clear-button {
  height: 16vmin;
  border-radius: 3vmin;
  font-size: 7vmin;
  flex-shrink: 0;
  margin-bottom: 2vmin;
}
#messaging-panel .options {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  flex-wrap: wrap;
  overflow-y: auto;
}

#messaging-panel .speech-bubble {
  background-color: #fff;
  border-radius: 3vmin;
  padding: 1vmin;
  font-family: NotoColorEmoji_subset;
  font-weight: bold;
  min-width: 25vmin;
  min-height: 15vmin;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.6vmin solid black;
  font-size: 7vmin;
  position: relative;
  margin: 2vmin;
  flex-grow: 1;
  cursor: pointer;
  opacity: 0;
  animation: 0.5s reveal-speech-bubble forwards;
  -webkit-tap-highlight-color: transparent;
}
@keyframes reveal-speech-bubble {
  from { opacity: 0; }
  to   { opacity: 1; }
}
#messaging-panel .speech-bubble:before {
  content: '';
  width: 4vmin;
  height: 4vmin;
  background: white;
  border-left:   0.6vmin solid black;
  border-bottom: 0.6vmin solid black;
  transform: rotate(-45deg);
  position: absolute;
  top: calc(100% - 1.9vmin);
  right: 3.5vmin;
}
#messaging-panel .speech-bubble.selected {
  border: 2vmin solid red;
}
#messaging-panel .speech-bubble.selected:before {
  border-left:   1.5vmin solid red;
  border-bottom: 1.5vmin solid red;
  top: calc(100% - 1.5vmin);
}
