.movement {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  left:  0;
  top:   0;
  right: 0;
  bottom: 0;
}
button[data-button="down"]:after  { transform: rotate(180deg); }
button[data-button="left"]:after  { transform: rotate(-90deg); }
button[data-button="right"]:after { transform: rotate(90deg);  }
.arrow-buttons {
  position: relative;
  flex-shrink: 0;
  flex-grow: 0;
}
.arrow-buttons button {
  position: absolute;
  width:  30%;
  height: 30%;
  border-radius: 100%;
}
.arrow-buttons [data-button="up"]    { left:  50%; top:     0;  margin-left: -15%; }
.arrow-buttons [data-button="down"]  { left:  50%; bottom:  0;  margin-left: -15%; }
.arrow-buttons [data-button="left"]  { left:   0;  top:    50%; margin-top:  -15%; }
.arrow-buttons [data-button="right"] { right:  0;  top:    50%; margin-top:  -15%; }
.arrow-button:after {
  content: '';
  position: absolute;
  left: 0;
  top:  0;
  width:  100%;
  height: 100%;
  background-image: url('data:image/svg+xml;utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1 1" width="32" height="32"><path d="M 0,0.8 0.5,0.2 1,0.8 z" style="fill:black;stroke:none;" /></svg>');
}
