#movement-panel {
  position: absolute;
  left:   0;
  top:    0;
  right:  0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items:     center;
  justify-content: center;
}

#movement-panel .arrow-buttons {
  position: relative;
  flex-shrink: 0;
  flex-grow:   0;
  width:  calc(min(var(--panel-width), var(--panel-height)));
  height: calc(min(var(--panel-width), var(--panel-height)));
}

#movement-panel .arrow-buttons push-button {
  position: absolute;
  width:  30%;
  height: 30%;
  border-radius: 100%;
}

#movement-panel .arrow-buttons [data-button="up"]    { left:  50%;    top: 10%; margin-left: -15%; }
#movement-panel .arrow-buttons [data-button="down"]  { left:  50%; bottom: 10%; margin-left: -15%; }
#movement-panel .arrow-buttons [data-button="left"]  { left:  10%;    top: 50%;  margin-top: -15%; }
#movement-panel .arrow-buttons [data-button="right"] { right: 10%;    top: 50%;  margin-top: -15%; }

#movement-panel .arrow-buttons push-button:after {
  content: '';
  position: absolute;
  left: 0;
  top:  0;
  width:  100%;
  height: 100%;
  background: no-repeat center / 70% url('data:image/svg+xml,\
    <svg viewBox="0 0 1 1" xmlns="http://www.w3.org/2000/svg">\
      <path fill="black" stroke="none" d="M 0,0.8 0.5,0.2 1,0.8 z"/>\
    </svg>\
  ');
}

#movement-panel .arrow-buttons [data-button="down"]:after  { transform: rotate(180deg); }
#movement-panel .arrow-buttons [data-button="left"]:after  { transform: rotate(-90deg); }
#movement-panel .arrow-buttons [data-button="right"]:after { transform: rotate( 90deg);  }
