.push-button {
  box-shadow: inset -1vmin -1vmin 1vmin #888, inset 1vmin 1vmin 1vmin white;
  background-color: #d6d6d6;
  padding: 0;
}
.push-button.pressed {
  box-shadow: inset -1vmin -1vmin 1vmin white, inset 1vmin 1vmin 1vmin black;
  background-color: #a0a0a0;
}
