body {
  margin: 0;
  background: black;
  transition: background-color 1s;
  font-family: "Helvetica Neue", "Roboto";
  user-select: none;
}

@font-face {
  font-family: "NotoColorEmoji_subset";
  src: url("/fonts/NotoColorEmoji.subset.woff2") format("woff2");
}

#panels {
  position: fixed;
  left:   env(safe-area-inset-left);
  top:    env(safe-area-inset-top);
  right:  env(safe-area-inset-right);
  bottom: env(safe-area-inset-bottom);
  display: flex;
  justify-content: flex-end;
}
@media (orientation: portrait)  { #panels { flex-direction: column; } }
@media (orientation: landscape) { #panels { flex-direction: row;    } }

.panel {
  flex-basis: 0;
  flex-shrink: 1;
  overflow: hidden;
  position: relative;
  transition: flex-grow 0.5s, padding 0.5s;
}
.panel:empty { flex-grow: 0; }
.panel       { flex-grow: 1; }

.panel > * {
  opacity: 0;
  animation: 0.5s fade-out forwards;
  pointer-events: none;
}
.panel > .active {
  animation: 0.5s 0.5s fade-in forwards;
  pointer-events: auto;
}

body.host-dragging:after {
  content: '';
  position: fixed;
  width:  100%;
  height: 100%;
  background: no-repeat center / contain url('data:image/svg+xml;utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16.9 16.9" height="64" width="64"><path d="M6.8 3.3v9.4l2.4-1.4 3.1 5.5 2.3-1.3-3-5.3L14 8.7z"/><path d="M7.6 3.2l2-1M6.7 2.5V.2M5.9 2.9l-2.3-1M6.1 3.8L4.6 5.5" fill="none" stroke="%23176cff" stroke-width=".8"/></svg>');
  pointer-events: none;
}

#status-container {
  position: fixed;
  width:  100%;
  height: 100%;
  opacity: 0;
  display: flex;
  flex-direction: column;
  background-color: black;
  color: white;
  text-align:      center;
  justify-content: center;
  align-items:     center;
  font-size: 3vmin;
  pointer-events: none;
}
#status-container.waiting {
  animation: 1s 0.2s fade-in-status forwards;
  pointer-events: auto;
}
#status-container.error {
  opacity: 1;
  pointer-events: auto;
}
@keyframes fade-in-status {
  to { opacity: 1; }
}
#status-container .phone-party-logo .phone-party-text {
  width: 25vmin;
  height: 6vmin;
  background: no-repeat center / contain url('data:image/svg+xml;utf-8,<svg width="64" height="12" viewBox="0 0 16.9 3.2" xmlns="http://www.w3.org/2000/svg"><path d="M2.22.25V2.3h.4v-.7c0-.15.03-.27.07-.35.05-.09.13-.13.25-.13.16 0 .24.1.24.32v.86h.4v-.96c0-.19-.05-.33-.14-.41A.55.55 0 0 0 3.05.8c-.09 0-.17.02-.24.05s-.14.09-.18.16H2.6a2.04 2.04 0 0 0 .02-.34V.25h-.4zM14.27.5l-.12.31-.22.14v.17h.2v.7c0 .13.01.23.05.3.04.08.1.13.17.15.07.03.14.05.23.05l.21-.02a.85.85 0 0 0 .16-.05v-.3l-.12.03a.6.6 0 0 1-.13.02.2.2 0 0 1-.13-.04c-.03-.03-.05-.08-.05-.13v-.71h.42v-.3h-.42V.5h-.25zM11.83.8a1.29 1.29 0 0 0-.57.13l.13.27.2-.07c.08-.03.15-.04.22-.04s.13.02.17.06c.04.03.06.09.06.17v.06l-.26.01a.93.93 0 0 0-.5.12c-.1.08-.16.2-.16.35 0 .16.05.28.13.35.09.08.2.12.33.12.12 0 .22-.02.29-.06s.14-.1.2-.17h.01l.08.2h.28v-.98c0-.18-.05-.31-.16-.4-.1-.08-.26-.12-.45-.12zM1.33.8a.47.47 0 0 0-.42.22H.9L.84.82H.5v2.13h.4v-.6c0-.06 0-.14-.02-.21h.02c.04.05.1.1.16.13a.5.5 0 0 0 .25.06.5.5 0 0 0 .4-.2c.11-.13.17-.32.17-.57s-.05-.44-.16-.57a.49.49 0 0 0-.4-.2zm3.3 0c-.23 0-.4.06-.53.2s-.2.32-.2.56c0 .16.03.3.1.42.06.11.14.2.25.26.1.06.23.09.36.09a.7.7 0 0 0 .53-.2c.13-.14.2-.32.2-.57 0-.16-.04-.3-.1-.41A.63.63 0 0 0 5 .89a.74.74 0 0 0-.37-.1zM6.5.8c-.09 0-.18.02-.26.05a.4.4 0 0 0-.2.16h-.01L5.97.83h-.3V2.3h.4v-.7c0-.15.02-.27.06-.35.05-.09.13-.13.26-.13.08 0 .14.03.18.08a.4.4 0 0 1 .05.24v.86h.4v-.96c0-.19-.04-.33-.14-.41A.55.55 0 0 0 6.5.8zm1.55 0c-.14 0-.26.03-.37.09s-.18.14-.24.25a.95.95 0 0 0-.09.43c0 .17.03.31.1.42.06.12.15.2.26.26a.9.9 0 0 0 .4.08c.1 0 .2-.01.29-.03a.9.9 0 0 0 .22-.08v-.3L8.38 2c-.07.02-.16.03-.26.03a.36.36 0 0 1-.26-.1.39.39 0 0 1-.1-.27h.95v-.2c0-.2-.06-.37-.18-.49A.66.66 0 0 0 8.05.8zm2.28 0a.47.47 0 0 0-.42.22H9.9l-.05-.2H9.5v2.13h.4v-.6c0-.06 0-.14-.02-.21h.02c.04.05.1.1.16.13a.5.5 0 0 0 .25.06.5.5 0 0 0 .4-.2c.11-.13.17-.32.17-.57s-.05-.44-.16-.57a.49.49 0 0 0-.4-.2zm3.35 0c-.1 0-.19.03-.27.08s-.13.12-.17.2h-.02l-.06-.25h-.3V2.3h.4v-.75c0-.1.01-.17.05-.22.04-.06.1-.1.16-.12a.52.52 0 0 1 .31-.02l.03-.38h-.06L13.68.8zm1.36.03l.59 1.46-.03.07a.45.45 0 0 1-.1.19.26.26 0 0 1-.2.07.77.77 0 0 1-.17-.01v.32l.09.01h.12c.14 0 .26-.03.37-.1a.7.7 0 0 0 .24-.35l.63-1.66h-.44l-.27.82a2.05 2.05 0 0 0-.06.26 1.4 1.4 0 0 0-.05-.26l-.28-.82h-.44zm-7 .25c.1 0 .17.03.22.1.04.05.07.13.07.22h-.56c0-.11.03-.19.09-.24a.27.27 0 0 1 .19-.08zm-6.84.04c.18 0 .28.14.28.43 0 .15-.03.26-.07.34a.22.22 0 0 1-.2.11C1.09 2 1 1.96.97 1.9a.71.71 0 0 1-.06-.33V1.5a.6.6 0 0 1 .07-.3c.04-.06.12-.09.22-.09zm9 0c.19 0 .28.14.28.43 0 .15-.02.26-.07.34a.22.22 0 0 1-.2.11c-.11 0-.2-.04-.23-.11a.71.71 0 0 1-.07-.33V1.5a.6.6 0 0 1 .07-.3c.04-.06.12-.09.22-.09zm-5.58 0c.1 0 .18.04.23.11.05.08.07.18.07.33s-.02.26-.07.33c-.05.08-.12.11-.23.11-.1 0-.19-.03-.24-.1-.04-.08-.07-.2-.07-.34s.03-.25.07-.33c.05-.07.13-.1.24-.1zm7.42.5v.12c0 .1-.03.16-.09.22a.33.33 0 0 1-.22.07.24.24 0 0 1-.14-.04c-.04-.02-.05-.07-.05-.13 0-.07.02-.12.07-.17.05-.04.14-.06.27-.07h.16z" fill="white" stroke-width=".1"/></svg>');
}
#status-container .phone-party-logo .bubbles span {
  display: inline-block;
  width:  4vmin;
  height: 4vmin;
  border-radius: 50%;
}
#status-container .phone-party-logo .bubbles span:nth-child(1) { background: #f5a500; }
#status-container .phone-party-logo .bubbles span:nth-child(2) { background: #0cb90c; }
#status-container .phone-party-logo .bubbles span:nth-child(3) { background: #c900e0; }
#status-container .phone-party-logo .bubbles span:nth-child(4) { background: #00a7e0; }
#status-container .separator {
  background: white;
  width: 15vmin;
  height: 0.3vmin;
  border-radius: 0.015vmin;
  margin: 3vmin;
}
#status        { animation: 0.8s 1s pulse-status ease-in-out infinite alternate; }
#status-detail { animation: 0.8s 1s pulse-status ease-in-out infinite alternate; }
@keyframes pulse-status {
  from { opacity: 1;   }
  to   { opacity: 0.3; }
}
#status-container.error #status {
  color: #e74949;
  font-weight: bold;
  background: no-repeat left / contain url('data:image/svg+xml;utf-8,<svg width="64" height="64" viewBox="0 0 16.9 16.9" xmlns="http://www.w3.org/2000/svg"><g fill="none" stroke="%23e74949" stroke-width="2"><path d="M1.4 15.3h14.2l-7.2-14z" stroke-linecap="round" stroke-linejoin="round"/><path d="M8.4 6.6v4.8M8.4 12.2v1.4"/></g></svg>');
  padding-left: 1.5em;
}
#status-container.error #status-detail {
  color: #e74949;
}
#status-detail {
  margin-top: 1vmin;
  font-size: 0.6em;
}
#status-container button {
  font-size: 4vmin;
}

button {
  outline: none;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  border: none;
}
button::-moz-focus-inner {
  border: 0;
}

#fullscreen-button.unimplemented {
  visibility: hidden;
  animation: none;
}
#fullscreen-button {
  background: no-repeat center / 59% white url('data:image/svg+xml;utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 8.5 8.5"><g fill="none" stroke="black" stroke-width="1.3"><path d="M.7 3.5V.7h2.6M7.8 3.5V.7H5.2M.7 5v2.8h2.6M7.8 5v2.8H5.2"/></g></svg>');
  opacity: 1;
  visibility: visible;
  border: none;
  border-radius: 6vmin;
  box-shadow: 0 0 2vmin black;
  position: fixed;
  right: 3vmin;
  top:   3vmin;
  width:  12vmin;
  height: 12vmin;
  padding: 0;
  z-index: 3;
  animation: 0.5s reveal-fullscreen-button;
}
@keyframes reveal-fullscreen-button {
  from { transform: scale(0); }
  to   { transform: scale(1); }
}
@media (display-mode: fullscreen) {
  #fullscreen-button {
    background: no-repeat center / 59% white url('data:image/svg+xml;utf-8,<svg width="32" height="32" version="1.1" viewBox="0 0 8.5 8.5" xmlns="http://www.w3.org/2000/svg"><g fill="none" stroke="black" stroke-width="1.3"><path d="m2.868 0.3038v2.8h-2.6m5.364-2.8v2.8h2.6m-5.364 5.164v-2.8h-2.6m5.364 2.8v-2.8h2.6"/></g></svg>');
  }
}
#fullscreen-button:hover {
  transform: scale(1.1);
}
#fullscreen-button:active,
#fullscreen-button.active {
  transform: scale(0.9);
}

.hide {
  display: none !important;
}

@keyframes fade-in  { from { opacity: 0; } to { opacity: 1; } }
@keyframes fade-out { from { opacity: 1; } to { opacity: 0; } }

@keyframes pop-in {
    0% { transform: scale(0.0); }
   30% { transform: scale(1.2); }
   55% { transform: scale(0.9); }
   75% { transform: scale(1.1); }
  100% { transform: scale(1.0); }
}

button.camera-retry-button {
  padding: 1vmin;
  min-width: 20vmin;
  border-radius: 1vmin;
  margin-top: 2vmin;
}

#route-not-found {
  position: fixed;
  left:   0;
  top:    0;
  right:  0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:     center;
}
#route-not-found h1,
#route-not-found p {
  z-index: 2;
}
