body {
  margin: 0;
  background: black;
  transition: background-color 1s;
  font-family: "Helvetica Neue", "Roboto";
  user-select: none;
}

@font-face {
  font-family: "NotoColorEmoji_subset";
  src: url("/fonts/NotoColorEmoji.subset.woff2") format("woff2");
}

#panels {
  position: fixed;
  left:   0;
  top:    0;
  right:  0;
  bottom: 0;
  display: flex;
  justify-content: flex-end;
}
@media (orientation: portrait)  { #panels { flex-direction: column; } }
@media (orientation: landscape) { #panels { flex-direction: row;    } }

.panel {
  flex-basis: 0;
  flex-shrink: 1;
  overflow: hidden;
  position: relative;
  transition: flex-grow 0.5s, padding 0.5s;
}
#messaging-panel        { flex-grow: 0; }
#messaging-panel.active { flex-grow: 1; }

#subject-panel:empty { flex-grow: 0; }
#subject-panel       { flex-grow: 1; }

#subject-panel > * {
  opacity: 0;
  animation: 0.5s fade-out forwards;
}
#subject-panel > .active {
  animation: 0.5s 0.5s fade-in forwards;
}

body.host-dragging:after {
  content: '';
  position: fixed;
  width: 100%;
  height: 100%;
  background: no-repeat center / contain url('data:image/svg+xml;utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16.9 16.9" height="64" width="64"><path d="M6.8 3.3v9.4l2.4-1.4 3.1 5.5 2.3-1.3-3-5.3L14 8.7z"/><path d="M7.6 3.2l2-1M6.7 2.5V.2M5.9 2.9l-2.3-1M6.1 3.8L4.6 5.5" fill="none" stroke="%23176cff" stroke-width=".8"/></svg>');
  pointer-events: none;
}

#connection_status {
  position: fixed;
  width:  100%;
  height: 100%;
  display: none;
  flex-direction: column;
  background-color: #fff;
  text-align:      center;
  justify-content: center;
  align-items:     center;
  font-size: 5vw;
}
#connection_status.connecting { display: flex; background-color: blue; }
#connection_status.error      { display: flex; background-color: red;  }
#connection_status::before {
  font-size: 10vw;
}
#connection_status.connecting::before { content: 'Connecting..'; }
#connection_status.error::before      { content: 'Error';        }
#connection_status button {
  font-size: 3rem;
}
#connection_status button:active {
  background-color: orange;
}

button {
  font-size: 15vw;
  background-color: grey;
  border-radius: 10vw;
  border: 1vw solid white;
  opacity: 0.8;
  outline: none;
  cursor: pointer;
}
button:hover {
  background-color: #b3b3b3;
}
button:after {
  background-repeat: no-repeat;
  background-position: center;
  background-size: 70%;
}
button.pressed {
  transform: scale(1.4);
  background-color: orange;
}

#fullscreen-button.unimplemented {
  visibility: hidden;
}
#fullscreen-button {
  background: no-repeat center / 59% white url('data:image/svg+xml;utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 8.5 8.5"><g fill="none" stroke="black" stroke-width="1.3"><path d="M.7 3.5V.7h2.6M7.8 3.5V.7H5.2M.7 5v2.8h2.6M7.8 5v2.8H5.2"/></g></svg>');
  opacity: 1;
  visibility: visible;
  border: none;
  border-radius: 6vmin;
  box-shadow: 0 0 2vmin black;
  position: fixed;
  right: 0;
  top:   0;
  width:  12vmin;
  height: 12vmin;
  padding: 0;
  z-index: 3;
  -webkit-tap-highlight-color: transparent;
  transform: scale(0);
  animation: 0.5s reveal-fullscreen-button forwards;
}
@keyframes reveal-fullscreen-button {
  from { transform: scale(0); }
  to   { transform: scale(1); }
}
#fullscreen-button.fullscreen {
  background: no-repeat center / 59% white url('data:image/svg+xml;utf-8,<svg width="32" height="32" version="1.1" viewBox="0 0 8.5 8.5" xmlns="http://www.w3.org/2000/svg"><g fill="none" stroke="black" stroke-width="1.3"><path d="m2.868 0.3038v2.8h-2.6m5.364-2.8v2.8h2.6m-5.364 5.164v-2.8h-2.6m5.364 2.8v-2.8h2.6"/></g></svg>');
}
#fullscreen-button::-moz-focus-inner {
  border: 0;
}
#fullscreen-button.active {
  background-color: orange;
  transform: scale(3);
}

.hide {
  display: none !important;
}
@keyframes fade-in  { from { opacity: 0; } to { opacity: 1; } }
@keyframes fade-out { from { opacity: 1; } to { opacity: 0; } }
