:host {
  --size: 8rem;
  width:  var(--size);
  height: var(--size);

  position: relative;

  background: black;
  border-radius: 50%;
  border: .3rem solid #ddd;

  touch-action: none;
}

#thumb {
  background: no-repeat center / contain #ddd url('data:image/svg+xml,\
    <svg viewBox="0 0 32 32" fill="black" xmlns="http://www.w3.org/2000/svg">\
      <circle r="1.5" cx="16" cy="4"/>\
      <circle r="1.5" cx="4"  cy="16"/>\
      <circle r="1.5" cx="28" cy="16"/>\
      <circle r="1.5" cx="16" cy="28"/>\
    </svg>\
  ');
  border-radius: 50%;
  box-shadow: 0 0 1.5rem black;

  --thumb-size: calc(var(--size) * .8);
  width:  var(--thumb-size);
  height: var(--thumb-size);

  position: absolute;
  top:  calc(50% - (var(--thumb-size) / 2));
  left: calc(50% - (var(--thumb-size) / 2));

  cursor: grab;
  touch-action: none;
}

#thumb:hover {
  background-color: #fff;
}
