@import url('/common/base.css');
@import url('/common/push-button.css');
@import url('/apps/tunnel-vision/base.css');
@import url('/host/audience.css');

:host {
  height: 100%;
  display: flex;
  flex-direction: column;
}

#centered-content {
  flex-grow: 1;

  display: flex;
  justify-content: center;
  align-items:     center;

  position: relative;
}

audience-el {
  width: 100%;
  flex-shrink: 0;
}

#message {
  opacity: 0;
  transform: scale(.5);
  transition: 1s opacity, 1s transform;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#message:not(:empty) {
  opacity: 1;
  transform: scale(1);
}
#message.clear {
  opacity: 0;
  transform: scale(.5);
}

#message push-button {
  font-size: 3.5rem;
  padding: .8rem;
  border-radius: 1rem;
  font-weight: bold;
}

#message h1 {
  font-size: 6rem;
  color: var(--mauve);
  text-align: center;
  margin: 1rem;
}

#grid {
  position: absolute;
  left:   0;
  top:    0;
  right:  0;
  bottom: 0;

  display: grid;
  align-content:   center;
  justify-content: center;
}
#grid .cell {
  position: relative;
  opacity: 0;
  transition: 1s opacity;
}
#grid.reveal .cell {
  opacity: 1;
}

.photo {
  position: absolute;
  left: 0;
  top:  0;
  width:  100%;
  height: 100%;
  object-fit: contain;
  transition: .5s left, .5s top, .5s width, .5s height;
  cursor: pointer;
}
#grid .photo:hover {
  filter: brightness(1.2);
}
.photo.present {
  left: 0 !important;
  top:  0 !important;
  width:  100% !important;
  height: 100% !important;
  z-index: 1;
}
#grid .cell.last-presented {
  z-index: 1;
  opacity: 1;
}

#target {
  position: absolute;
  left: calc(50% - 1.5rem);
  z-index: 2;

  background: var(--sand-light);
  border-bottom-left-radius:  1rem;
  border-bottom-right-radius: 1rem;
  box-shadow: 0 0 1rem rgb(0, 0, 0, .5);
  padding: 0 .5rem .5rem .5rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:     center;
}
#target img {
  width:  3rem;
  height: 3rem;
}
#target label {
  font-size: 2.5rem;
  font-weight: bold;
  margin-top: .5rem;
}
#target.transition {
  transition: 1s opacity, 1s top;
}
#target:not(.reveal) {
  opacity: 0;
  top: -10rem;
}
#target.reveal {
  opacity: 1;
  top: 0;
}

#end-round-button {
  position: absolute;
  right: -8rem;
  bottom: 1rem;

  font-size: 2.5rem;
  font-weight: bold;

  padding: .5rem;
  border-radius: 1rem;

  transition: 1s right;
}
#end-round-button.reveal {
  right: 1rem;
}

/*.photo-container.fullscreen {
  left: calc(50% - 30vmin) !important;
  top:  calc(40% - 30vmin) !important;
  width:  60vmin !important;
  height: 60vmin !important;
  z-index: 5;
}
.photo-container.de-emphasize {
  opacity: 0.2;
}
.photo-container.reveal-full-photo {
  left: 2vmin !important;
  top:  2vmin !important;
  width:  calc(100vw - 4vmin) !important;
  height: calc(80vh  - 4vmin) !important;
}
.photo-container.fullscreen img {
  transition: transform 0.8s ease-in-out;
}
.photo-container.fullscreen.reveal-full-photo img {
  transform: scale(1);
}
.player.presenting-photo {
  position: fixed;
  left: calc(50vw - 45vmin) !important;
  top: calc(50vh  - 45vmin) !important;
  width:  90vmin;
  height: 90vmin;
}
.player.reveal-full-photo img {
  animation: 3s reveal-full-photo forwards;
}
@keyframes reveal-full-photo {
  from { transform: scale(4); }
  to   { transform: scale(1); }
}*/

/*.player .tunnel-vision.fooled-stamp {
  position: absolute;
  left: 0;
  top:  0;
  width:  100%;
  height: 100%;
  text-align: center;
  color: red;
  font-size: 30%;
  font-weight: bold;
  text-shadow: 0 0 1vmin black;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotate(-13deg);
  animation: 0.3s fooled-stamp-animation linear forwards;
}
@keyframes fooled-stamp-animation {
  from { opacity: 0; transform: rotate(-10deg) scale(1.3); }
  to   { opacity: 1; transform: rotate(-13deg) scale(1); }
}

.player .tunnel-vision.fooled-overlay {
  position: absolute;
  left: -5%;
  top:  -64%;
  width:  110%;
  height: 110%;
  background: no-repeat center / contain url('/apps/tunnel-vision/images/fooled-overlay.svg');
}

.player .tunnel-vision.lightbulb {
  position: absolute;
  left: 50%;
  top:  50%;
  width:  0.3em;
  height: 0.3em;
  margin-left: -0.15em;
  margin-top:  -0.15em;
  background: no-repeat center / contain url('/apps/tunnel-vision/images/lightbulb.svg');
  opacity: 0;
  animation: 0.5s fade-in forwards;
}

.player .tunnel-vision.not-fooled-stamp {
  position: absolute;
  left: 0;
  top:  0;
  width:  100%;
  height: 100%;
  text-align: center;
  color: green;
  font-size: 20%;
  font-weight: bold;
  text-shadow: 0 0 1vmin black;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: 0.5s not-fooled-stamp-animation linear forwards;
}
@keyframes not-fooled-stamp-animation {
  from { opacity: 0; transform: scale(1.3); }
  to   { opacity: 1; transform: scale(1); }
}*/
