#apps-index {
  height: 100%;
  overflow-y: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem;
  box-sizing: border-box;
  justify-content: center;
  --tile-size: 15rem;
  font-size: calc(var(--tile-size) / 20);
}

#apps-index > a {
  width:  var(--tile-size);
  height: var(--tile-size);
  margin: 3rem;
  flex-shrink: 0;
  background: white;
  text-decoration: none;
}

#apps-index > a:hover {
  transform: scale(1.1);
}
