@import url('/common/push-button.css');

:host {
  background: var(--sand-light);

  font-family: Timothy;
  color: var(--mauve);
  text-shadow: 0 0 0.3rem black;
  -webkit-text-stroke: .1rem var(--sand-light);

  /* https://colorhunt.co/palette/202236 */
  --sand-light: #f7e7bd;
  --sand-dark:  #d9c6a5;
  --gravel:     #b5a485;
  --mauve:      #a35d6a;
  --red:        #c26565;
}
