:host {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;

  background: green;
  color: white;

  display: grid;
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
}

@media (orientation: landscape) {
  :host {
    grid-auto-flow: column;
  }
}

.panel {
  display: grid;
  place-content: center;
}

#top {
  background: blue;
}
