:host {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;

  background: antiquewhite;
  color: white;
}

#master {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;

  display: flex;
}

@media (orientation: portrait) {
  #master {
    flex-direction: column;
  }
}
@media (orientation: landscape) {
  #master {
    flex-direction: row;
  }
}

.panel {
  flex-basis: 1px;
  display: grid;
  place-items: center;
  position: relative;
  flex-grow: 1;
}

#direction {
  font-size: 5em;
  color: black;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#indicators {
  transform: rotate(45deg);
  --indicator-width: 30vmin;
  position: absolute;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

#indicators > div {
  width: var(--indicator-width);
  height: var(--indicator-width);
}

#indicators > *:first-child {
  border-radius: var(--indicator-width) 0 0 0;
}

#indicators > *:nth-child(2) {
  border-radius: 0 var(--indicator-width) 0 0;
}

#indicators > *:nth-child(3) {
  border-radius: 0 0 0 var(--indicator-width);
}

#indicators > *:nth-child(4) {
  border-radius: 0 0 var(--indicator-width) 0;
}

#right {
  background-color: #E9C46A;
}

#left {
  background: #E76F51;
}

#forward {
  background-color: #2A9D8F;
}

#backward {
  background-color: #8AB17D;
}

#puppet-choice {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#puppet-choice push-button {
  width: 10rem;
  height: 6rem;
  border-radius: 1rem;
  font-size: 2rem;
  color: black;
  font-weight: bold;
}
#puppet-choice push-button:first-of-type {
  margin-right: 1rem;
}

#puppet {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items:     center;
}
#puppet .eye {
  width:  40vw;
  height: 40vw;
  overflow: hidden;
  background: white;
  border-radius: 50%;
  border: 1rem solid black;
  display: flex;
  justify-content: center;
  align-items:     center;
}
#puppet .eye:first-of-type {
  margin-right: 6vw;
}
#puppet .pupil {
  width:  6rem;
  height: 6rem;
  border-radius: 50%;
  background: black;
}
